input[type="text"]{
border:solid 1px #605DC8;
border-radius: 8px;
padding: 10px;
width: 30%;
display: inline-block;
margin-right: 4px;/*to create gap between search box and button*/
margin-top: 15px;
}
button{
    /* background-color: var(--primary-color); */
    background-color: #605DC8;
    color:white;
    border-radius: 8px;
    padding :10px;
    border-style: none;
}
.results{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}